body{   
    margin: 0;
    padding: 0;
    text-align: center;
}

h1  {
    font-size: 2em;
    font-weight: bold;
    color: #000;
    margin: 0;
    padding-top: 4em;
}

p {
    font-size: 1em;
    color: #000;
    margin: 2em 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}